<!-- this is layout page -->
<section class="layout-content">

  <!-- shadow appears at the top of the page -->
  <div class="shadow-bottom-overlay"></div>

  <!-- sidebar ==>  appears at sreen mediam size and above -->
  <app-sidebar class="d-none d-md-block sidebar-comp sidebar-comp-sm close"></app-sidebar>


  <div class="main-container position-relative px-3 d-flex justify-content-space-between flex-direction-column min-vh-100">

    <div>

      <!-- header component -->
      <app-header class="position-sticky z-index-3 top-2 my-3 d-block"></app-header>

      <!-- router outlet inside div for animations -->
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>

    </div>

    <!-- footer component-->
    <app-footer></app-footer>
  </div>


  <!-- sidebar ==>  appears at sreen small size -->
  <div class="d-md-none offcanvas offcanvas-start sidebar-sm-size" tabindex="-1" id="sidebar-sm" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-body sub-con-color offcanvas-body-overflow p-0">
      <app-sidebar class="sidebar-comp sidebar-comp-fixed sidebar-comp-lg close"></app-sidebar>
    </div>
  </div>

</section>
